body{
  background:#0f172a;
  color:white;
  font-family:Arial;
  }
  
  .app{
  max-width:800px;
  margin:auto;
  padding:40px;
  }
  
  .connect{
  background:#ff007a;
  border:none;
  padding:12px 20px;
  border-radius:10px;
  color:white;
  cursor:pointer;
  }
  
  .card{
  background:#1e293b;
  padding:20px;
  margin-bottom:20px;
  border-radius:15px;
  }
  
  .stars{
  font-size:24px;
  cursor:pointer;
  }
  
  .star:hover{
  transform:scale(1.2);
  }
  
  .progress-container{
  width:100%;
  background:#334155;
  border-radius:10px;
  height:10px;
  margin:10px 0;
  }
  
  .progress-bar{
  height:10px;
  background:#22c55e;
  border-radius:10px;
  }
  
  .add input{
  padding:10px;
  margin-right:10px;
  border-radius:8px;
  border:none;
  }
  
  .add button{
  padding:10px 16px;
  background:#6366f1;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
  }
  
  .voted{
  color:#22c55e;
  }
  
  .account{
  color:#22c55e;
  }